

<div class="center-container d-flex align-items-center justify-content-center p-5">
  <br><br>
  <form class="col-3 bg-light p-4">
    <!-- Email input -->
    <div class="form-outline mb-3">
      <input [(ngModel)]="DataUser.user_name" [ngModelOptions]="{standalone: true}" type="text" id="form2Example1"
        class="form-control" />
      <label class="form-label" for="form2Example1">Nombre de usuario</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-3">
      <input [(ngModel)]="DataUser.password" [ngModelOptions]="{standalone: true}" type="password" id="form2Example2"
        class="form-control" />
      <label class="form-label" for="form2Example2">Contraseña</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-3">


      <div class="col text-center mb-3">
        <!-- Simple link -->
        <a href="/login">te olvidaste de tu contraseña?</a>
      </div>

      <!-- Submit button -->
      <button (click)="botonLogin()" type="button" class="btn btn-primary btn-block mb-6">Login</button>


    </div>


    <div *ngIf="flagAlert" class="container">
      <!-- Register buttons -->
      <div class="text-center text-danger">
        <div [innerHTML]="msgAlert"></div>
      </div>
    </div>

  </form>

</div>